/*
Základní Syntaxe CSS 

selector {
    vlastnosti: hodnoty;
}

Selector - určuje, na které elementy se bude styl vztahovat
Vlastnosti - určují, jak se bude element zobrazovat
Hodnoty - určují konkrétní nastavení pro danou vlastnost
*/

body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}